
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color:black;
    
}
#nav{
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    padding-top: 20px;
    text-transform: uppercase;
    color: white;
}
#nav h2{
    font-size: 15px;
    font-weight: 400;
}
#nav-part2{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    font-weight: 400;
    gap: 40px;
}
#main h1{
    color: white;
    font-size: 100px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 100px;
    width: 80%;
    margin-left: 20%;
    position: relative;
    z-index: 999;
}
#main h1:nth-child(2){
    margin-top: 160px;
}
#main h1:nth-child(3){
    text-align: center;
}
#main h1:nth-child(4){
    text-align: center;
}
img{
    height: 320px;
    width: 210px;
    object-fit: cover;
    position: absolute;
    top: 15%;
    left: 47%;
    z-index: 88;
    border-radius: 10px;
    rotate: 2deg;
}
img:nth-child(5){
    rotate: 20deg;
}
img:nth-child(6){
    rotate: 10deg;
}